* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    //font-weight: 300;
}

// .app {
//     display: flex;
//     justify-content: space-around;
// }

.header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid black;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
    text-transform: uppercase;
}

button {
    padding: 10px;
    width: 100%;
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid grey;
} 

.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
    color: white;
}

.modal-overlay {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
    color: white;
}

.modal-content {
    background-color: grey; 
    margin: 15% auto; 
    padding: 20px;
    border-radius: 5px;
    max-width: 70%;
    min-width: 350px;
    text-align: center;
    }

    .modal-header {
        width: calc(100% + 40px);
        margin: -20px -20px 0;
        background: rgba(0,0,0,.1);
        padding: 10px 25px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .modal-body {
        padding: 10px;
        line-height: 34px;
    }

    .modal-header .close {
        float: right;
        font-size: 35px;
        right: 10px;
        }

    // .close:hover,
    // .close:focus {
    // color: black;
    // text-decoration: none;
    // cursor: pointer;
    // }

    .modal-footer {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }

    .modal-footer button {
            margin: 0 5px;
            background: rgba(0,0,0,0.3);
            color: #fff;
            border: none;
            font-size: 16px;
            min-width: 100px;
            width: auto;
    }


    // CARDS


    .cards-container {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .card-item {
        text-decoration: none;
        position: relative;
        width: calc(25% - 40px);
        margin: 20px;
        // border: 2px solid grey;
    }

    .card-item img {
        width: 100%;
        max-width: 200px;
        vertical-align: top;
        object-fit: cover;
        height: 200px;
    }

    .favorite-icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .trash-icon {
        position: absolute;
        top: 250;
        right: 50;
    }

    .card-name {
        text-align: center;
        text-transform: uppercase;
    }

    .card-price {
        font-weight: 700;
    }

    .basket-container {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .fav-container {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }